//todo - sep stylesheet for dev

$bp-class: $dev-mode-class;

$bg-color: $action-color;
$txt-color: #FFFFFF;

.#{$bp-class}:after{
    background-color: $bg-color;
    padding: 2px 10px;
    font-size: 12px;
    letter-spacing: 1px;
    color: $txt-color;
    font-weight: bolder;
    position: fixed;
    top: 0;
    right: 0;
    content: "S";
    @include media( $medium-up ){
        content: "M";
    }
    @include media( $large-up ){
        content: "L";
    }
    @include media( $xlarge-up ){
        content: "XL";
    }
    @include media( $xxlarge-up ){
        content: "XXL";
    }
    @include media( $max ){
        content: "MAX";
    }    
}    